@model IEnumerable<Garage2.Models.ViewModels.ParkedVehiclesViewModel>

@{
    ViewData["Title"] = "Index";
}

@{
    var sortOrder = ViewBag.CurrentSort ?? "RegistrationNumber_asc";
    var registrationNumberSortParam = sortOrder == "RegistrationNumber_asc" ? "RegistrationNumber_desc" : "RegistrationNumber_asc";
    var vehicleTypeSortParam = sortOrder == "VehicleType_asc" ? "VehicleType_desc" : "VehicleType_asc";
    var arrivalTimeSortParam = sortOrder == "ArrivalTime_asc" ? "ArrivalTime_desc" : "ArrivalTime_asc";
    var parkingSpaceSortParam = sortOrder == "ParkingSpace_asc" ? "ParkingSpace_desc" : "ParkingSpace_asc";
    ViewBag.CurrentSort = sortOrder;
}

<h2><strong>Currently Parked Vehicles:</strong></h2>
<h5>Check In Your Vehicle By Clicking "Park Vehicle" Down Below</h5>

<p>
    <a asp-action="Create" class="btn btn-primary text-black shadow-sm">Park Vehicle</a>
</p>

@* Search bar *@
<form asp-action="Search" method="get">
    <div class="form-group d-flex flex-row">
        <input type="text" class="form-control" id="searchString" name="searchString" placeholder="Registration Number">
        <button type="submit" class="btn btn-primary text-black shadow-sm">Search</button>
    </div>
</form>

<table class="table">
    <thead>
    <tr>
	    <th onclick="location.href='?sortOrder=@registrationNumberSortParam'">
		    @Html.DisplayNameFor(model => model.RegistrationNumber)
		    @if (ViewBag.CurrentSort == "RegistrationNumber_asc")
		    {
			    <text> ↑</text>
		    }
		    else if (ViewBag.CurrentSort == "RegistrationNumber_desc")
		    {
			    <text> ↓</text>
		    }
	    </th>
	    <th onclick="location.href='?sortOrder=@vehicleTypeSortParam'">
		    @Html.DisplayNameFor(model => model.VehicleType)
		    @if (ViewBag.CurrentSort == "VehicleType_asc")
		    {
			    <text> ↑</text>
		    }
		    else if (ViewBag.CurrentSort == "VehicleType_desc")
		    {
			    <text> ↓</text>
		    }
	    </th>
	    <th onclick="location.href='?sortOrder=@arrivalTimeSortParam'">
		    @Html.DisplayNameFor(model => model.ArrivalTime)
		    @if (ViewBag.CurrentSort == "ArrivalTime_asc")
		    {
			    <text> ↑</text>
		    }
		    else if (ViewBag.CurrentSort == "ArrivalTime_desc")
		    {
			    <text> ↓</text>
		    }
	    </th>
	    <th onclick="location.href='?sortOrder=@parkingSpaceSortParam'">
		    @Html.DisplayNameFor(model => model.ParkingSpace)
		    @if (ViewBag.CurrentSort == "ParkingSpace_asc")
		    {
			    <text> ↑</text>
		    }
		    else if (ViewBag.CurrentSort == "ParkingSpace_desc")
		    {
			    <text> ↓</text>
		    }
	    </th>
	    <th></th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
	        <tr>
		        <td>
			        @Html.DisplayFor(modelItem => item.RegistrationNumber)
		        </td>
		        <td>
			        @Html.DisplayFor(modelItem => item.VehicleType.Name)
		        </td>
		        <td>
			        @Html.DisplayFor(modelItem => item.ArrivalTime)
		        </td>
		        <td>
			        @Html.DisplayFor(modelItem => item.ParkingSpace)

			        @if (item.ParkingSubSpace != 0)
			        {
				        <text>: </text>

				        @Html.DisplayFor(modelItem => item.ParkingSubSpace)
			        }
		        </td>
		        <td>
			        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
			        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
			        <a asp-action="Delete" asp-route-id="@item.Id">Check Out</a>
		        </td>
	        </tr>
        }
    </tbody>
</table>
