@model IEnumerable<Garage2.Models.ViewModels.ParkedVehiclesViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2><strong>Currently Parked Vehicles:</strong></h2>
<h5>Check In Your Vehicle By Clicking "Park Vehicle" Down Below</h5>

<p>
    <a asp-action="Create" class="btn btn-primary text-black shadow-sm">Park Vehicle</a>
</p>

@* Search bar *@
<form asp-action="Search" method="get">
    <div class="form-group d-flex flex-row">
        <input type="text" class="form-control" id="searchString" name="searchString" placeholder="Registration Number">
        <button type="submit" class="btn btn-primary text-black shadow-sm">Search</button>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleType)
            </th>
	        <th>
		        @Html.DisplayNameFor(model => model.ArrivalTime)
	        </th>
	        <th>
		        @Html.DisplayNameFor(model => model.ParkingSpace)
	        </th>
	        <th>
		        @Html.DisplayNameFor(model => model.ParkingSubSpace)
	        </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RegistrationNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleType)
                </td>
	            <td>
		            @Html.DisplayFor(modelItem => item.ArrivalTime)
	            </td>
	            <td>
		            @Html.DisplayFor(modelItem => item.ParkingSpace)

                    @if (item.ParkingSubSpace != 0)
                    {
                        <text>: </text>@Html.DisplayFor(modelItem => item.ParkingSubSpace)
                    }
	            </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Check Out</a>
                </td>
            </tr>
        }
    </tbody>
</table>
