@model Garage2.Models.ViewModels.CheckOutVehicleViewModel

<!DOCTYPE html>
<html>
<head>
	<title>Receipt</title>
</head>
<body>
	<h2><strong>Receipt</strong></h2>

	<h4>Receipt Details</h4>
	<dl class="row centerContent">
		<div class="col-sm-12">
			<dt>Member</dt>
			<dd>@Model.Member.FullName</dd>
		</div>
		<div class="col-sm-12">
			<dt>Birth Number</dt>
			<dd>@Model.Member.PersonNumber</dd>
		</div>
		<div class="col-sm-12">
			<dt>Registration Number</dt>
			<dd>@Model.RegistrationNumber</dd>
		</div>
		<div class="col-sm-12">
			<dt>Check Out Time</dt>
			<dd>@Model.CheckOutTime</dd>
		</div>
		<div class="col-sm-12">
			<dt>Price</dt>
			<dd>@Model.Price.ToString("0.00")</dd>
		</div>

		<div class="col-sm-12">
			<dt>Parking Lot</dt>
			<dd>@Model.ParkingSpaceString</dd>
		</div>

	</dl>

	<!-- Add any additional content for your receipt -->

	<button class="btn btn-primary" onclick="window.print()">Print Receipt</button>

	<a class="btn btn-primary" asp-action="Index">Back to List</a>
</body>
</html>