@model IEnumerable<Garage2.Models.ViewModels.VehicleStatics>

@{
	ViewData["Title"] = "Statics";
}

<h2><strong>Statics</strong></h2>

<table class="table">
	<thead>
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.VehicleType)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.NumberOfWheels)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Price)
		</th>

		<th></th>
	</tr>
	</thead>
	<tbody>
		@foreach (var items in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(model => items.VehicleType)
				</td>
				<td>
					@Html.DisplayFor(model => items.NumberOfWheels)
				</td>
				<td>
					@Html.DisplayFor(model => items.Price)
				</td>

			</tr>

		}
	
	</tbody>
	<div>
		<a asp-action="Index">Back to List</a>
	</div>
</table>