@model Garage2.Models.Entities.ParkedVehicle
@inject Garage2.Services.IAvailableLotsService AvailableLotsService
@{
    var isParked = Model.ParkingSpace == 0;
    var parkParam = isParked ? "Park" : "UnPark";
}
@* Only show Park button if there are available lots,But always UnPark button if the vehicle is parked *@
@if (!isParked || AvailableLotsService.IsAvailable(Model.VehicleType.Size))
{
    <form asp-controller="ParkedVehicles" asp-action="@parkParam" asp-route-id="@Model.Id">
        <input type="hidden" name="id" id="id" value="@Model.Id" />
        <input type="submit" value="@parkParam" class="btn @(isParked ? "btn-success" : "btn-danger")" />
    </form>
}
